
.page_404{ padding:40px 0; color: crimson;
}
.textcenter {
    text-align: center!important;
    margin: 0 auto;
}
.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(../../../public/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 color: crimson;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
             color: crimson;

			 }
			 
	