@font-face {
  font-family: "tajwalRegular";   /*Can be any text*/
  src: local("tajwalRegular"),
    url("./fonts/ArbFONTS-Tajawal-Regular-1.ttf") format("ttf");
}

* {
  margin: 0;
  color: #ffffff;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;

  margin: 0 auto;
}
.navbar h1 {
  color: #ffffff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar a:hover {
  color: #ffffff;
}
.content {

  margin: 40px auto;
  padding: 20px;
}
h2{
  font-size:22px
}
/* blog previews / list */
.blog-preview {
  padding: 47px 20px;  margin: 20px 0;
  border-radius: 8px;
  box-shadow: rgb(228 214 214 / 10%) 0px 4px 12px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.479);
}
.blog-preview h2 {
  color: #ffffff;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
  color: #ffffff;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details .show_details {
  background: #e07a30;;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
 .show_details {
  background: #e07a30;;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  text-align: center;
}
.create h2 {
  padding: 20px 0;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 30px;
}
 input,  textarea, select  {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: block;
  color: #000000;

  border-radius: 6px;

}
 option{
  color: #000000;

}
.create button {
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 6px;
  background:#e07a30;

}
span{
  font-size: 22px;
}
.Gallary img{
  height: 100%;
  border-radius: 6px;
}
.x{
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
}





